{% extends 'base.html' %}

{% block title %}
Все слова
{% endblock %}

{% block body %}
<div class="container mt-5" >
    <h1>Все слова в тексте</h1>
    {% for el in words %}
    <div class = "gridclass container2 rounded-pill" style="background-color: rgb(107 208 238)">
    <div class = "myclass divinl">{{el[1]}}</div>
    <div class="divinl">
        <form action="../word/{{el[0]}}">
    <button class="btn btn-secondary rounded-pill px-3 stylebtn " type="submit">Подробнее</button>
            </form>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}