{% extends 'base.html' %}

{% block title %}
{{value[0][0]}}
{% endblock %}

{% block body %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow" style="background-color: black; color: gray" >
      <div class="modal-header p-5 pb-4 border-bottom-0" >
        <h1 class="fw-bold mb-0 fs-2" >Выберите файл</h1>
        <button type="button" class="mybtn-close"  data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>

      <div class="modal-body p-5 pt-0">

        <form action="../" method="post" enctype="multipart/form-data">
          <div class="form-floating mb-3" >
              <div class="input__wrapper">
                         <input type="file" сlass="input input__file" accept="	application/rtf,application/x-rtf,text/richtext,text/plain" name="file" id="input__file" hidden>
                            <label for="input__file" class="input__file-button w-100 btn btn-lg" style="background-color: #FFC107">
      <div class="input__file-button-text" style="color: black; text-align: center" >Выберите файл</div>
                                
   </label>
</div>

          </div>

          <button class="sub w-100 btn btn-lg " style="color: black; background-color: #FFC107" type="submit" value="Upload">Подтвердить</button>

        </form>

      </div>
    </div>
  </div>
</div>




{% endblock %}