{% extends 'base.html' %}

{% block title %}
{{value[0][0]}}
{% endblock %}

{% block body %}
<div class="col-md-5 col-lg-4 order-md-last" style="margin-left: 3%; margin-bottom: 2%;">
        <h2 class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 5%;">
          <span style="color: white">{{value[0][0]}}</span>
        </h2>
    {% for index in range(val_size) %}
        <h5 class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 10%;">
            <span style="color: white">{{value[index][1]}}</span>
            </h5>
        <ul class="list-group mb-3">
          {% for el in range(size) if value[index][el+2]!='None' %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{morphem[el]}}</h6>
              <small class="text-body-secondary">{{value[index][el+2]}}</small>
            </div>
          </li>
            {% endfor %}
        </ul>
    {% endfor %}

            <form action="../edit/{{id}}">
    <button class="btn btn-secondary rounded-pill px-3 stylebtn " style="margin-left: 0%;" type="submit">Образовать словофому</button>
            </form>
</div>
{% endblock %}