{% extends 'base.html' %}

{% block title %}
Словарь

{% endblock %}

{% block body %}
<div class="container mt-5" style="margin-bottom: 2%;">
    <form action="../text/{{words[0][2]}}" >
    <button class="btn btn-secondary rounded-pill px-3 stylebtn " style="background-color: #747C9B; width:100%; margin-left: 0%; margin-bottom:3%;" type="submit">Вернуться</button>
        </form>
    <h1 style="text-align: center;">Все слова в тексте</h1>

    {% for el in words %}
    <div class = "gridclass container2 rounded-pill" style="background-color: #c9d3e4; color: black; ">
    <div class = "myclass divinl" style="color: black">{{el[1]}}</div>
    <div class="divinl">
        <form action="../word/{{el[2]}}/{{el[0]}}">
    <button class="btn btn-secondary rounded-pill px-3 stylebtn " style="background-color: #747C9B; width:30%; margin-left: 60%" type="submit">Подробнее</button>
        </form>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}